body {
    text-align: center;
    background-color: black;
}

h1 {
    color: aliceblue;
    padding-top: 80px;
}
.text {
    color: aliceblue;
}

a{
    transition: transform 0.3s ease;
    transition: background-color 0.3s ease;
}
a:hover {
    background-color: ivory;
    transform: scale(1.1);
}
#yesbox {
    font-size: 50px;
    margin: 20px;
    padding: 20px;
    border: none;
    cursor: pointer;
}
#container {
    font-size: 20px;
}
#noBox button {
    font-size: 15px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
  }
  