body {
    text-align: center;
    background-color: black;
}

h1 {
    color: aliceblue;
    margin-top: 150px;
}
.text {
    color: aliceblue;
}

.heart {
    position: absolute;
    font-size: 30px; 
    color: red;
}

